.alt-theme-4-shape-1 {
  background: #282a36;
}
.alt-theme-4-shape-1 span:nth-child(1) {
  width: 12rem;
  height: 6rem;
  background: #8be9fd;
  position: absolute;
}
.alt-theme-4-shape-1 span:nth-child(2) {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  background: #8be9fd;
  border: 2rem solid #bd93f9;
  z-index: 1;
}
.alt-theme-4-shape-1 span:nth-child(3) {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background: #ff79c6;
  z-index: 2;
  position: absolute;
}

.alt-theme-4-shape-2 {
  background: #282a36;
}
.alt-theme-4-shape-2 div {
  width: 8rem;
  height: 10rem;
  background: #50fa7b;
  border-radius: 0 0 4rem 4rem;
  display: flex;
}
.alt-theme-4-shape-2 div span {
  width: 100%;
  height: 7rem;
  background: #282a36;
  transform: translateY(-0.5rem);
  border-radius: 1rem;
  margin-top: -3rem;
}
.alt-theme-4-shape-2 div span:nth-child(odd) {
  background: #50fa7b;
}
.alt-theme-4-shape-2::before {
  content: "";
  width: 1rem;
  height: 8rem;
  background: #50fa7b;
  position: absolute;
  bottom: 0;
  left: calc(50% - 0.5rem);
}

.alt-theme-4-shape-3 {
  background: #282a36;
  flex-direction: column;
}
.alt-theme-4-shape-3 div:first-child {
  width: 8rem;
  height: 7rem;
  background: #8be9fd;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  border-radius: 4rem 4rem 1rem 1rem;
  position: relative;
}
.alt-theme-4-shape-3 div:first-child span {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  background: #ff79c6;
  margin-top: 2.7rem;
}
.alt-theme-4-shape-3 div:first-child span:nth-child(2) {
  width: 1.4rem;
  height: 1.4rem;
  position: absolute;
  bottom: -0.6rem;
  z-index: 1;
}
.alt-theme-4-shape-3 div:last-child {
  width: 5rem;
  height: 2.5rem;
  background: #8be9fd;
  border-radius: 0 0 1.4rem 1.4rem;
  display: flex;
  justify-content: center;
  gap: 0.4rem;
}
.alt-theme-4-shape-3 div:last-child span {
  background-color: #282a36;
  width: 0.6rem;
  height: 1rem;
  margin-top: 1.8rem;
  border-radius: 0.4rem;
}

.alt-theme-4-shape-4 {
  background-color: #282a36;
}
.alt-theme-4-shape-4 span:nth-child(1) {
  width: 8rem;
  height: 8rem;
  background: #f1fa8c;
  border-radius: 50%;
  display: flex;
  align-items: center;
  position: relative;
}
.alt-theme-4-shape-4 span:nth-child(1)::before, .alt-theme-4-shape-4 span:nth-child(1)::after {
  content: "";
  width: 4rem;
  height: 4rem;
  background: #f1fa8c;
  position: absolute;
  transform: rotate(45deg);
}
.alt-theme-4-shape-4 span:nth-child(1)::before {
  left: -0.8rem;
}
.alt-theme-4-shape-4 span:nth-child(1)::after {
  right: -0.8rem;
}
.alt-theme-4-shape-4 span:nth-child(2) {
  width: 7rem;
  height: 7rem;
  background: #f1fa8c;
  position: absolute;
  border-radius: 50%;
  border: 0.8rem solid #282a36;
}
.alt-theme-4-shape-4 span:nth-child(3) {
  width: 2rem;
  height: 2rem;
  background: #282a36;
  position: absolute;
  border-radius: 50%;
}

.alt-theme-4-shape-5 {
  background: #282a36;
}
.alt-theme-4-shape-5 div {
  width: 8rem;
  height: 12rem;
  background: #8be9fd;
  border-radius: 4rem 4rem 0 0;
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  position: relative;
}
.alt-theme-4-shape-5 div span {
  background: #ff79c6;
  height: 1rem;
  position: absolute;
  bottom: 0;
  right: 0;
}
.alt-theme-4-shape-5 div span:nth-child(1) {
  width: 2rem;
  margin-bottom: 3.3rem;
}
.alt-theme-4-shape-5 div span:nth-child(2) {
  width: 3.8rem;
  margin-bottom: 2.2rem;
}
.alt-theme-4-shape-5 div span:nth-child(3) {
  width: 5.4rem;
  margin-bottom: 1.1rem;
}
.alt-theme-4-shape-5 div span:nth-child(4) {
  width: 6.6rem;
}

.alt-theme-4-shape-6 {
  background: #282a36;
  flex-direction: column;
}
.alt-theme-4-shape-6 span:nth-child(1) {
  width: 3rem;
  height: 3rem;
  background: #8be9fd;
  border-radius: 2rem 2rem 0 0;
  margin-bottom: -1.2rem;
}
.alt-theme-4-shape-6 span:nth-child(2) {
  width: 8rem;
  height: 8rem;
  background: #ff79c6;
  border-radius: 4rem 4rem 1rem 1rem;
  z-index: 1;
}
.alt-theme-4-shape-6 span:nth-child(3) {
  width: 3rem;
  height: 3rem;
  background: #bd93f9;
  border-radius: 0 0 2rem 2rem;
  margin-top: -0.8rem;
}

.alt-theme-4-shape-7 {
  background: #282a36;
}
.alt-theme-4-shape-7 div {
  width: 10rem;
  height: 10rem;
  background-color: #f1fa8c;
  border-radius: 5rem 5rem 3rem 3rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: start;
  position: relative;
  overflow: hidden;
}
.alt-theme-4-shape-7 div span {
  background: #ff79c6;
}
.alt-theme-4-shape-7 div span:nth-child(1), .alt-theme-4-shape-7 div span:nth-child(2) {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  margin-top: -2.4rem;
}
.alt-theme-4-shape-7 div span:nth-child(3), .alt-theme-4-shape-7 div span:nth-child(4) {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}
.alt-theme-4-shape-7 div span:nth-child(5) {
  width: 2.5rem;
  height: 0.5rem;
  border-radius: 0.2rem;
  position: absolute;
  bottom: 1rem;
}

.alt-theme-4-shape-8 {
  background-color: #282a36;
}
.alt-theme-4-shape-8 div:nth-child(2) {
  width: 8rem;
  height: 8rem;
  background-color: #bd93f9;
  border-radius: 50%;
  z-index: 2;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.alt-theme-4-shape-8 div:nth-child(2) span {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background: #bd93f9;
  border: 0.5rem solid #f1fa8c;
}
.alt-theme-4-shape-8 div:nth-child(2)::before {
  content: "";
  width: 80%;
  height: 1.2rem;
  background-color: #bd93f9;
  position: absolute;
  top: 35%;
}
.alt-theme-4-shape-8 div:nth-child(2)::after {
  content: "";
  width: 3.5rem;
  height: 3.5rem;
  position: absolute;
  bottom: -3rem;
  border-radius: 50%;
  border: 0.8rem solid transparent;
  border-top-color: #f1fa8c;
  border-left-color: #f1fa8c;
  transform: rotate(45deg);
}
.alt-theme-4-shape-8 div:nth-child(3)::before {
  left: 0;
}
.alt-theme-4-shape-8 div:nth-child(1),
.alt-theme-4-shape-8 div:nth-child(3) {
  position: relative;
  width: 3rem;
  height: 8rem;
  background: #bd93f9;
  border-radius: 50%;
}
.alt-theme-4-shape-8 div:nth-child(1)::before,
.alt-theme-4-shape-8 div:nth-child(3)::before {
  content: "";
  width: 82%;
  height: 100%;
  background: #8be9fd;
  border-radius: 50%;
  position: absolute;
  right: 0;
}
.alt-theme-4-shape-8::before {
  content: "";
  width: 1.7rem;
  height: 42%;
  background: #bd93f9;
  position: absolute;
  bottom: 0;
  z-index: 3;
  border-radius: 2rem 2rem 0 0;
}

.alt-theme-4-shape-9 {
  background-color: #282a36;
}
.alt-theme-4-shape-9 span {
  width: 12rem;
  height: 12rem;
  background: #8be9fd;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
}
.alt-theme-4-shape-9 span::before {
  content: "";
  width: 6rem;
  height: 6rem;
  background: #ff79c6;
  position: absolute;
  bottom: -3rem;
  transform: rotate(45deg);
}
.alt-theme-4-shape-9 span::after {
  content: "";
  width: 9rem;
  height: 9rem;
  background: #ff79c6;
  position: absolute;
  bottom: -3rem;
  right: -1rem;
  transform: rotate(45deg);
}

.alt-theme-4-shape-10 {
  background: #282a36;
  flex-direction: column;
}
.alt-theme-4-shape-10 div {
  width: 10rem;
  height: 5rem;
  display: flex;
}
.alt-theme-4-shape-10 div:first-child {
  border-radius: 50% 50% 0 50%;
}
.alt-theme-4-shape-10 div:first-child span {
  background: #bd93f9;
  width: 50%;
  height: 100%;
  border-radius: 50% 50% 50% 0;
}
.alt-theme-4-shape-10 div:first-child span:first-child {
  border-radius: 50% 50% 0 50%;
}
.alt-theme-4-shape-10 div:last-child {
  background: #f1fa8c;
  border-radius: 3rem;
  gap: 0.4rem;
  justify-content: start;
  overflow: hidden;
}
.alt-theme-4-shape-10 div:last-child span {
  background: #282a36;
  height: 100%;
  width: 1.8rem;
}
.alt-theme-4-shape-10 div:last-child span:last-child {
  width: 1.3rem;
  height: 1.3rem;
  border-radius: 50%;
  align-self: start;
  margin: 0.8rem 1.3rem 0 0.5rem;
}

.alt-theme-4-shape-11 {
  background: #282a36;
  transform: rotate(180deg);
}
.alt-theme-4-shape-11 div:nth-child(2) {
  background: #ff79c6;
  width: 6rem;
  height: 4rem;
  border-radius: 0 0 2rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: start;
  padding: 0 0.8rem;
}
.alt-theme-4-shape-11 div:nth-child(2) span {
  background: #50fa7b;
  width: 1.6rem;
  height: 0.25rem;
  border-radius: 5px;
}
.alt-theme-4-shape-11 div:nth-child(2) span:nth-child(1) {
  margin: 0.4rem 0;
}
.alt-theme-4-shape-11 div:nth-child(2) span:nth-child(3) {
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 50%;
  align-self: end;
  margin-top: 0.7rem;
  z-index: 1;
}
.alt-theme-4-shape-11 div:nth-child(1),
.alt-theme-4-shape-11 div:nth-child(3) {
  width: 3.5rem;
  height: 2.2rem;
  border: 5px solid #ff79c6;
  margin-top: -1.8rem;
}
.alt-theme-4-shape-11 div:nth-child(1) {
  border-radius: 1rem 0 0 1rem;
  margin-right: -1rem;
  background-color: #ff79c6;
}
.alt-theme-4-shape-11 div:nth-child(3) {
  border-radius: 0 1rem 1rem 0;
  margin-left: -1rem;
  background-color: #ff79c6;
}

.alt-theme-4-shape-12 {
  background: #282a36;
  flex-direction: column;
}
.alt-theme-4-shape-12 span:first-child {
  width: 10rem;
  height: 10rem;
  border-left: 7rem solid transparent;
  border-right: 7rem solid transparent;
  border-bottom: 5rem solid #50fa7b;
  position: relative;
}
.alt-theme-4-shape-12 span:last-child {
  width: 10rem;
  height: 8rem;
  background: #50fa7b;
  position: relative;
}
.alt-theme-4-shape-12 span:last-child::before {
  content: "";
  width: 5rem;
  height: 6px;
  background: #ff79c6;
  position: absolute;
  top: 0;
  left: calc(50% - 2.5rem);
}
.alt-theme-4-shape-12 span:last-child::after {
  content: "";
  width: 3rem;
  height: 4rem;
  background: #ff79c6;
  position: absolute;
  bottom: 0;
  left: calc(50% - 1.5rem);
}

.alt-theme-4-shape-13 {
  background: #282a36;
}
.alt-theme-4-shape-13 div {
  background: #8be9fd;
}
.alt-theme-4-shape-13 div:first-child {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  position: relative;
}
.alt-theme-4-shape-13 div:first-child span {
  width: 6px;
  height: 2rem;
  background: #ff79c6;
  position: absolute;
  top: calc(50% - 1rem);
  left: 2rem;
  border-radius: 4px;
}
.alt-theme-4-shape-13 div:nth-child(2) {
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 50%;
  margin-left: -2.5rem;
  z-index: 1;
  display: grid;
  place-items: center;
}
.alt-theme-4-shape-13 div:nth-child(2) span {
  width: 2.2rem;
  height: 2.2rem;
  background: #ff79c6;
  border-radius: 50%;
  border: 4px solid #f1fa8c;
}
.alt-theme-4-shape-13 div:nth-child(3) {
  width: 6rem;
  height: 1rem;
  background: #ff79c6;
  margin-left: -0.4rem;
}
.alt-theme-4-shape-13 div:nth-child(4) {
  width: 2.2rem;
  height: 1.6rem;
  border-radius: 0.5rem;
  margin-left: -0.4rem;
  display: flex;
  flex-direction: column;
  row-gap: 0.3rem;
  padding: 0.4rem;
}
.alt-theme-4-shape-13 div:nth-child(4) span {
  width: 100%;
  height: 0.4rem;
  background: #ff79c6;
}

.alt-theme-4-shape-14 {
  background-color: #282a36;
}
.alt-theme-4-shape-14 div {
  width: 7rem;
  height: 10rem;
  background: #ff79c6;
  border-radius: 4rem 4rem 1rem 1rem;
  position: relative;
  overflow: hidden;
}
.alt-theme-4-shape-14 div span:nth-child(1) {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background: #f1fa8c;
  position: absolute;
  top: calc(50% - 1rem);
  left: calc(50% - 1rem);
}
.alt-theme-4-shape-14 div span:nth-child(2) {
  width: 8rem;
  height: 8rem;
  background: #8be9fd;
  position: absolute;
  bottom: -3rem;
  left: -3rem;
  border-radius: 50%;
}
.alt-theme-4-shape-14 div span:nth-child(3) {
  width: 10rem;
  height: 10rem;
  background-color: #bd93f9;
  position: absolute;
  bottom: -4.5rem;
  right: -5rem;
  border-radius: 50%;
}

.alt-theme-4-shape-15 {
  background: #282a36;
  overflow: hidden;
}
.alt-theme-4-shape-15 span:first-child {
  width: 5rem;
  height: 6rem;
  border: 1rem solid #ff79c6;
  position: absolute;
  top: -1rem;
}
.alt-theme-4-shape-15 span:first-child::before {
  content: "";
  display: block;
  width: 1rem;
  height: 17rem;
  background: #f1fa8c;
  margin-left: 1rem;
}
.alt-theme-4-shape-15 span:last-child {
  width: 9rem;
  height: 8rem;
  border: 1rem solid #f1fa8c;
  position: absolute;
  top: -1rem;
}
.alt-theme-4-shape-15 span:last-child::before {
  content: "";
  width: 9rem;
  height: 1rem;
  background: #ff79c6;
  position: absolute;
  bottom: -3rem;
  left: -1rem;
}/*# sourceMappingURL=alt-theme-4.css.map */