// Los Muertos
$hummus: #ecf7b8;
$post-it: #e0fd81;
$ballerina: #ffd7fa;
$grand-jete: #ef94e1;
$cream: #fff1c1;

// Desert Alien
$grape: #695783;
$tomato: #f05667;
$juice: #fba66a;
$hotline: #e73296;
$splash: #6ccec9;

//Beehive
$rich: #151515;
$defined: #0a0a0a;
$vanilla: #fbfcd4;
$sweet: #ffdd03;
$honey: #fbc403;

//Dracula
$background: #282a36;
$magic: #8be9fd;
$spell: #50fa7b;
$crystal: #ff79c6;
$witch: #bd93f9;
$happy: #f1fa8c;
