@import "variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: $dull;
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 0.3rem;
  overflow-y: scroll;

  @media screen and (max-width: 992px) {
    grid-template-columns: repeat(3, 1fr);
  }
  @media screen and (max-width: 700px) {
    grid-template-columns: 1fr 1fr;
  }
  @media screen and (max-width: 500px) {
    grid-template-columns: 1fr;
  }

  > div {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #333;
    min-height: 20rem;
    cursor: pointer;
  }
  icontray {
    position: fixed;
    background: rgb(255, 255, 255);
    width: 65px;
    height: 340px;
    bottom: 20px;
    right: 20px;
    z-index: 3;
    border-radius: 50px;
    text-align: center;
  }
  #btn1 {
    position: absoulte;
    width: 60px;
    height: 60px;
    z-index: 4;
    text-align: center;
    border-radius: 20px;
    text-align: center;
  }
  #btn2 {
    position: absoulte;
    width: 60px;
    height: 60px;
    z-index: 4;
    border-radius: 20px;
    text-align: center;
  }
  #btn3 {
    position: absoulte;
    width: 60px;
    height: 60px;
    z-index: 4;
    border-radius: 20px;
    text-align: center;
  }
  #btn4 {
    position: absoulte;
    width: 60px;
    height: 60px;
    z-index: 4;
    border-radius: 20px;
    text-align: center;
  }
  #btn5 {
    position: absoulte;
    width: 60px;
    height: 60px;
    z-index: 4;
    border-radius: 20px;
    text-align: center;
  }
}
