$cream: #fff1c1;
$blu: #243d83;
$lite-blu: #6592cf;
$dark-blu: #060f55;
$gold: #eeb850;
$lemon: #f3ac3c;
$flamingo: #e97676;
$lite-red: rgb(247, 65, 65);
$pop: #c76e2a;
$pop2: #8b4b19;
$brick: #312222;
$dark: #191919;
$dull: #333;

$emerald: #1a4341;
$dark-emerald: #0b2429;
$empty: #fff;
$sunny: #eff33c;
